@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;

}

.text-wrapper {
  max-width: 1200px;
  margin: 0 30px;

}

.hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
}

/*-------- HEADER------ */
#header {
position: relative;
}

.logo {
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  left: 25px;
  font-family: 'Lato', sans-serif;
  top: 1em;
  padding: 1em;
}

.logo span {
  color: #df5e69;
}

.logo-element {
  margin: 0;
  font-size: 1.80em;
}

.navigation-menu li {
  display: inline-block;
  padding: 1em;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 6.2em;
  top: 1.2em;
}

.navigation-menu a {
  text-decoration: none;
  font-size: 1.1em;
  color: #000;
}

.navigation-menu a:hover {
  color: #df5e69
}

/*-------- BANNER------ */
.banner-image img {
  width: 100%;
}

.banner {
  position: relative;
  top: 5em;
}

.banner-content {
  position: absolute;
  color: #fff;
  left: 0.3em;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  text-shadow: 4px 4px #f23545;
}

/*-------- MAIN------- */
/*-------- CREATE ACCOUNT SECTION------ */
.account {
  text-align: center;
  padding-top: 5em;
}

.uppercase {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.main-1 {
  padding: 2.5em 0;
}

.account-content p:first-child {
  font-size: 32px;
}

.account-content a {
  color: #f23545;
}

.account-content a:hover {
  color: #df5e69;
  text-decoration: none;
}

.account-button {
  margin: 32px 0 82px 0;
  display: inline-block;
}

.account-button a {
  text-decoration: none;
  background-color: #000;
  padding: 0.5em 0.75em;
  border-radius: 10px;
  color: #fff;
}

.account-button a:hover {
  background-color: #f23545;
}

/*-------- LEARN ABOUT CATS SECTION------ */
.main-learn {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.main-2 h2 {
  padding: 3em 0 0;
  margin: 0;
}

.col-1,
.col-2 {
  display: inline-block;
  padding: 2em 8em 0;
}

.col-sub-head {
  color: #f23545;
}

.col-sub-head:hover {
  color: #df5e69;
}

.col-btn {
  text-decoration: none;
  background-color: #f23545;
  padding: 0.5em 0.75em;
  border-radius: 10px;
  color: #fff;
}

.col-btn:hover {
  background-color: #df5e69;
}

.col-btn2 {
  margin: 2.5em 0 4em 0;
}

.cat-img {
  width: 50%
}

/*-------- FORM-SUBSCRIBE SECTION------ */
.subscribe-sec {
  text-align: center;
  background-color: #f23545;
}

.heading-subscribe h2 {
  margin: 0;
  padding: 2.5em 0 0;
}

.form-break input {
  font-size: 1.2em;
  width: 32%;
  margin: 0 0 0.75em 0.5em;
}

.form {
  font-weight: bold;
}

.btn-subscribe {
  padding: 2em 0 3em 0;
}

.btn-subscribe button {
  background-color: #000;
  color: #fff;
  padding: 0.75em;
  border-radius: 10px;
  border-style: none;
  font-size: 0.75em;
}

.btn-subscribe button:hover {
  color: #f23545;
}

::placeholder {
  color: #adadad;
}

fieldset {
  text-align: left;
  border-right: none;
  margin: 0;
  width: 38%;
  display: inline-block;
}

#check1 {
  margin-left: 1.3em;
}

#check2,
#check3 {
  margin-left: 3.5em;
}

/*-------- FOOTER SECTION------ */
#footer {
  background-color: #000;
  color: #fff;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
}

.footer-nav li {
  display: inline-block;
  vertical-align: top;
}

.footer-nav a {
  text-decoration: none;
  color: #fff;
}

.footer-nav a:hover {
  color: #f23545;
}

.navlink {
  padding: 3em 9em 2em 0.80em;
  ;
}

.footer-nav li li {
  display: block;
}

.footer-nav ul ul {
  margin-top: 1em;
}

.copyright {
  border-top: 1px solid #f23545;
}
